body{
    font-size: 1.2em;
    background-color: rgb(105, 135, 169);
    color: white;}

    h1, h2 {
        font:bold 200% 'century gothic', arial;
        color:whitesmoke;
        } 
p,ul,ol {
        font: normal 110% 'century gothic',arial, sans-serif;
    }
    img {
        width: 400px;
        height: 250px;
        margin-right: 60px; 
    }
    strong{
        color: bisque;
    }

#header{
    background-color:rgba(31, 80, 139, 0.842) ;
  min-width: 900px;
  padding:50px 0 0 10px;

}
